q1:

In [1]:
print("Hello world")

Hello world

q2:

In [4]:
s=int(input())
t=int(input())
e=s+t
print("sum",e)

4
5
sum 9

q3:

In [9]:
import math
s=int(input())
s=math.sqrt(s)
print(s)

4
2.0

q4:

In [11]:
b=int(input("enter base of a triangle"))
h=int(input("enter height of a traingle"))
g=1/2*(b*h)
print("area",g)

enter base of a triangle6
enter height of a traingle6
area 18.0

q5:

In [27]:
x=int(input("enter the value of x:"))
y=eval(input("enter the quadratic eq:"))
print(y)

enter the value of x:2
enter the quadratic eq:x+x+x**3
12

q6:

In [17]:
a=int(input("enter first no a:"))
b=int(input("enter 2nd no b:"))
a,b=b,a
print("fisrst no a=",a)
print("second no b=",b)

enter first no a:5
enter 2nd no b:6
fisrst no a= 6
second no b= 5

q7:

In [22]:
import random
s=random.randrange(1,100)
print(s)

28

q8:

In [23]:
n=int(input("enter value in km"))
n=n*0.621
print("in miles",n)

enter value in km100
in miles 62.1

q9:

In [29]:
n=int(input("enter in celsius:"))
print((n*9/5)+32)

enter in celsius:100
212.0

q10:

In [32]:
n=int(input())
if n>0:
    print("positive")
elif n<0:
    print("negative")
else:
    print("zero")

-6
negative

q11:

In [34]:
n=int(input())
if n%2==0:
    print("even")
else:
    print("odd")

5
odd

q12:

In [39]:
n=int(input("enter a year:"))
if (n%4==0 and (n%100!=0 or n%400==0)):
    print("leap year")
else:
    print("not")

enter a year:1996
leap year

q13:

In [1]:
n=int(input("enter a no:"))
m=int(input("enter 2nd no:"))
b=int(input("enter a 3rd no:"))
            
print(max(n,m,b))

enter a no:5
enter 2nd no:8
enter a 3rd no:9
9

q14:

In [49]:
n=int(input("enter a no"))
for i in range(2,int(n)):
    if n%i==0:
        print("not Prime")
        break;

enter a no12
not Prime

q15:

In [51]:
import math
n=int(input())
n=math.factorial(n)
print(n)

3
6

q15:

In [57]:
n=int(input())
print("table")
y=1
for i in range(n,n*10+1,n):
    
    print(n,"*",y,"=",i)
    y=y+1

4
table
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

q16:

In [73]:
n=int(input())
a=[0,1]
for i in range(1,n):
    k=a[i-1]+a[i]
    a.append(k)
print(a)

13
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]

q17:

In [90]:
n=int(input())
s=0
d=list(str(n))
for i in range(0,len(d)):
    s=s+int(d[i])**len(d)
print(s)
if s==n:
    print(True)
else:
    print(False)

8208
8208
True

q18:

In [94]:
n=int(input())
l=(n*(n+1))/2
print(l)

6
21.0

q19:

In [101]:
y=int(input())double=lambda x:2**x
print(double(5))

5
32